@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.header-shadow {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}

.filter-btn {
    padding: 9px 12px;
    margin: 0 4px;
    border-radius: 18px;
    font-size: 14px;
    line-height: 18px;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    color: rgba(2, 6, 12, 0.75);
    border-radius: 18px;
}

.filter-btn:first-child {
    margin-left: 0;
}

.filter-btn:last-child {
    margin-right: 0;
}

.meals-image {
    height: 222.5px;
    overflow: hidden;
}

.meals-details h3,
.meals-rating span {
    color: rgba(2, 6, 12, 0.75);
}